/* navigasi */
.navbar {
  background-color: #c1e6ff;
}

/* search form */
.fas {
  cursor: pointer;
}

.login {
  text-decoration: none;
  padding: 10px;
}

/* judul */
.col-md-12 h2 {
  text-align: center;
  margin: 40px 0 40px 0;
}
/* berita terbaru */
.news {
  display: flex;
  flex-direction: row;
}

.news p {
  margin-left: 20px;
}

/* login  */
.eye span {
  font-size: 15px;
  position: absolute;
  bottom: 46px;
  right: 25px;
  cursor: pointer;
}

.modal-footer .btn {
  border: 1px solid #000000;
}

/* footer */
footer {
  background-color: #0e3854;
  margin-top: 40px;
  color: #fff;
}

/* responsive */

@media screen and (max-width: 1000px) {
  .navbar-nav a {
    font-size: 14px;
    padding-top: 10px;
  }
  .judul {
    font-size: 25px;
  }
  footer p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav a {
    font-size: 12px;
    padding-top: 11px;
  }
  .judul {
    font-size: 20px;
  }
  footer p {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .judul {
    font-size: 15px;
  }
  footer p {
    font-size: 12px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .collapse {
    text-align: end;
  }
}
